src/wsdl/localhost_8080/ServicioWebSOAP/MetodosPrueba.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="MetodosPrueba">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/ServicioWebSOAP/MetodosPrueba?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="gravitacionuniversal">
<part name="parameters" element="tns:gravitacionuniversal"/>
</message>
<message name="gravitacionuniversalResponse">
<part name="parameters" element="tns:gravitacionuniversalResponse"/>
</message>
<message name="alturamaxima">
<part name="parameters" element="tns:alturamaxima"/>
</message>
<message name="alturamaximaResponse">
<part name="parameters" element="tns:alturamaximaResponse"/>
</message>
<message name="operaciones">
<part name="parameters" element="tns:operaciones"/>
</message>
<message name="operacionesResponse">
<part name="parameters" element="tns:operacionesResponse"/>
</message>
<message name="desplazamiento">
<part name="parameters" element="tns:desplazamiento"/>
</message>
<message name="desplazamientoResponse">
<part name="parameters" element="tns:desplazamientoResponse"/>
</message>
<message name="parimpar">
<part name="parameters" element="tns:parimpar"/>
</message>
<message name="parimparResponse">
<part name="parameters" element="tns:parimparResponse"/>
</message>
<message name="diccionario">
<part name="parameters" element="tns:diccionario"/>
</message>
<message name="diccionarioResponse">
<part name="parameters" element="tns:diccionarioResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="potencia">
<part name="parameters" element="tns:potencia"/>
</message>
<message name="potenciaResponse">
<part name="parameters" element="tns:potenciaResponse"/>
</message>
<portType name="MetodosPrueba">
<operation name="login">
<input wsam:Action="http://sv/MetodosPrueba/loginRequest" message="tns:login"/>
<output wsam:Action="http://sv/MetodosPrueba/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="gravitacionuniversal">
<input wsam:Action="http://sv/MetodosPrueba/gravitacionuniversalRequest" message="tns:gravitacionuniversal"/>
<output wsam:Action="http://sv/MetodosPrueba/gravitacionuniversalResponse" message="tns:gravitacionuniversalResponse"/>
</operation>
<operation name="alturamaxima">
<input wsam:Action="http://sv/MetodosPrueba/alturamaximaRequest" message="tns:alturamaxima"/>
<output wsam:Action="http://sv/MetodosPrueba/alturamaximaResponse" message="tns:alturamaximaResponse"/>
</operation>
<operation name="operaciones">
<input wsam:Action="http://sv/MetodosPrueba/operacionesRequest" message="tns:operaciones"/>
<output wsam:Action="http://sv/MetodosPrueba/operacionesResponse" message="tns:operacionesResponse"/>
</operation>
<operation name="desplazamiento">
<input wsam:Action="http://sv/MetodosPrueba/desplazamientoRequest" message="tns:desplazamiento"/>
<output wsam:Action="http://sv/MetodosPrueba/desplazamientoResponse" message="tns:desplazamientoResponse"/>
</operation>
<operation name="parimpar">
<input wsam:Action="http://sv/MetodosPrueba/parimparRequest" message="tns:parimpar"/>
<output wsam:Action="http://sv/MetodosPrueba/parimparResponse" message="tns:parimparResponse"/>
</operation>
<operation name="diccionario">
<input wsam:Action="http://sv/MetodosPrueba/diccionarioRequest" message="tns:diccionario"/>
<output wsam:Action="http://sv/MetodosPrueba/diccionarioResponse" message="tns:diccionarioResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sv/MetodosPrueba/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sv/MetodosPrueba/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="potencia">
<input wsam:Action="http://sv/MetodosPrueba/potenciaRequest" message="tns:potencia"/>
<output wsam:Action="http://sv/MetodosPrueba/potenciaResponse" message="tns:potenciaResponse"/>
</operation>
</portType>
<binding name="MetodosPruebaPortBinding" type="tns:MetodosPrueba">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gravitacionuniversal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alturamaxima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desplazamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="parimpar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MetodosPrueba">
<port name="MetodosPruebaPort" binding="tns:MetodosPruebaPortBinding">
<soap:address location="http://localhost:8080/ServicioWebSOAP/MetodosPrueba"/>
</port>
</service>
</definitions>